

.services-section{
    height: auto;
    width: 90%;
    border: 1px solid red;
    margin: auto;
    margin-top: -100px;
    
}
.services-section h1{
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
}
.content_Servics{

    height: 100%;
    border: 1px solid green;
    margin-top: 20px;
    display: flex;
    
}
.content_Servics>div{
border: 1px solid red;
width: 40%;
margin: 30px;
}
.services-img {
    max-width: 340px;
    margin: 0px auto 30px;
}
.services-img+h3 {
    color: #30d300;
    font-size: calc(1.3rem + .6vw);
}
.services-img+h3+p{
    font-size: 20px;
    text-align: center;
}
