
.services-section{
    margin-top: 110px;
    background: #fcc302;
    padding: 100px 0px 70px;
    text-align: center;
    color: #FFF;
}
.row{
    display: flex;
    margin-top: 20px;
   
   
}

.section-title{
    margin-bottom: 10px;
    color: #FFF;  
    font-size: 60px;
    margin-top: -50px;
}.services-box h3 {
    color: #FFF;
    font-size: calc(1.3rem + .6vw);
}
.mb-4{
    font-size: 24px;
}


.services-box {
    margin-bottom: 30px;
}
.services-box p{
    font-size: 20px;
    text-align: center;
}

.services-img {
    max-width: 340px;
    margin: 0px auto 30px;
}

.services-img img {
    border: 5px solid #FFF;
    height: 250px;
}