

.services-section{
    height: auto;
    width: 90%;
    margin: auto;
    margin-top: -100px;
    
}
.services-section h1{
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
}
.content_Servics{

    height: 100%;
    margin-top: 20px;
    display: flex;
    background-color: #F2F6FF;
    
}
.content_Servics>div{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
width: 40%;
margin: 30px;
cursor: pointer;
background-color: white;
border-radius: 30px;
}
.services-img {
    max-width: 340px;
    margin: 0px auto 30px;
    border-radius: 30px;
}
.services-img img{
    
    border-radius: 30px;
}
.services-img+h3 {
    color: #30d300;
    font-size: calc(1.3rem + .6vw);
    margin-top: -20px;
}
.services-img+h3+p{
    font-size: 20px;
    text-align: center;
}
